@import url('fonts/Roboto.css');

body {
    background-color: #efe2ba;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    gap: 50px
}

.header {
    width: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #4056a1;
    z-index: 10;
}

.result {
    align-self: center;
    width: 500px;
    border-radius: 20px;
    padding: 25px 0;
    transition: 0.25s;
}

.result:hover {
    box-shadow: #d79922 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.scores {
    display: flex;
    justify-content: space-around;
}

.p1,
.comp {
    border-bottom: 3px solid #d79922;
    padding-bottom: 5px;
}

.main {
    z-index: 10;
    display: flex;
    gap: 50px;
}

.main button {
    font-size: 25px;
    background-color: #f13c20;
    color: #efe2ba;
    border: none;
    width: 200px;
    height: 100px;
    border-radius: 15px;
    transition: 0.25s;
}

.main button:hover {
    cursor: pointer;
    background-color: #efe2ba;
    color: #f13c20;
    box-shadow: #d79922 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.restart-page {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
    z-index: 20;
    transition: 0.5s;
}

.restart-page h1 {
    font-family: 'Roboto';
    font-weight: 500;
    color: #f13c20;
    z-index: 0;
}

.restart-page .overall {
    font-weight: 800;
    font-size: 100px;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    opacity: 0.75;
}

img {
    width: 50px;
    height: 50px;
    filter: invert(29%) sepia(100%) saturate(3767%) hue-rotate(353deg) brightness(102%) contrast(89%);
}

img:hover {
    cursor: pointer;
}